.App {
  text-align: center;
}

#homePage {
  /*background-image: url('/images/cover.jpg');
  background-repeat: no-repeat;*/
  background-color: black;
  color: red;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  /*background-position: center;*/
  /*background-size: cover;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  padding: 20px;
}

img {
  min-height: 60%;
  max-height: 60%;
  min-width: 60%;
  max-width: 60%;
}
